{% extends "resumen_gastos_mensuales.html" %}

{% block chart_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="card shadow mb-4">
                    <!-- Card Body -->
                    <div class="card-body text-center">
                        <div class="table-responsive">
                            <h3 class="m-3" style="font-weight: bold;">No se encontraron gastos 🐦</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}